.container {
    max-width: 114rem;
    margin: 0 auto;
    padding: 0rem 1rem;
  }

  :root {
    --font-main: "Inter", sans-serif;
    --colo-primary: #f0454d;
    --colo-dark-1: #000000;
    --colo-dark-2: #7d8184;
    --colo-white-1: #ffffff;
    --colo-white-2: #f5f5f5;
    --color-green: #00d656;
  }
  
  * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }

  /*Navigation Menu */
  /* navigation page*/
  .top_nav {
    width: 100%;
    height: 4rem;
    background-color: var(--colo-dark-1);
  }
  .top_nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top_nav_wrapper {
    display: flex;
    color: var(--colo-white-1);
  }
  .tap_nav_p {
    font-size: 1.4rem;
    font-weight: 400;
  }
  .top_nav_link {
    margin-left: 1rem;
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--colo-white-1);
  }
  /* navbaar */
  .nav {
    width: 100%;
    height: 8rem;
    border-bottom: 1px solid var(--colo-dark-2);
  }
  .nav_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav_list {
    display: flex;
  }
  .nav_items {
    display: flex;
  }
  .nav_logo {
    font-size: 2.2rem;
    font-weight: 800;
    color: var(--colo-dark-1);
  }
  .nav_item {
    margin: 0rem 0.5rem;
  }
  .nav_link {
    padding: 0.6rem;
    color: var(--colo-dark-1);
  }
  .nav_form {
    padding: 0.8rem;
    background-color: var(--colo-white-2);
    display: flex;
    align-items: center;
  }
  .nav_input {
    padding: 0.4rem;
    background-color: transparent;
    outline: none;
    border: none;
  }
  .nav_search {
    cursor: pointer;
  }
  .searchbtn{
    border: none;

  }
  .nav_items {
    display: flex;
    align-items: center;
  }
  .nav_heart {
    margin-left: 1rem;
    cursor: pointer;
  }
  .nav_cart {
    margin-left: 1rem;
    cursor: pointer;
  }
  .nav_user{
    margin-left: 1rem;
    cursor: pointer;
   background-color: transparent;
  }

  .w-6 {
    width: 2rem;
    height: 2rem;
  }
  
  .h-6 {
    fill: rgb(239, 140, 1);
  }
  

/* ///////////////////////////Headers/////////////////////////////////////////*/
  /* header */
  .header_container {
    width: 100%;
    display: flex;
    margin-top: 4rem;
  }
  .header_filter {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .header_filter_link {
    color: var(--colo-dark-1);
  }

  @media only screen and (max-width: 1070px) {
    .header_container {
      flex-direction: column;
    }
    .header_filter {
      display: none;
    }
  }
  .hamburger {
    display: none;
    cursor: pointer;
  }
  .hamburger > svg {
    width: 4.5rem;
    height: 4.5rem;
  }
  @media only screen and (max-width: 800px) {
    .top_nav {
      display: none;
    }
    .nav_list {
      display: none;
    }
    .nav_items {
      display: none;
    }
    .hamburger {
      display: block;
    }
  }

  /*///////////////////Register Page/////////////////////////////////////////////////*/

  /* Register Page*/
  a{
    text-decoration: none;
    color: var(--colo-dark-1);
  }

.auth_container {
    width: 100%;
    display: flex;
    align-items: center;
    height: 90vh;
  }
  .auth_img {
    width: 50%;
    height: 100%;
   padding-top: 0.6%;
   padding-bottom: 2%;
    
  }
  .auth_img > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .auth_content {
    width: 50%;
  }
  
  @media only screen and (max-width: 800px) {
    .auth_img {
      display: none;
    }
    .auth_content {
      width: 100%;
    }
  }
  
  .auth_content {
    padding: 10rem;
  }
  .form_title {
    font-size: 3.2rem;
  }
  .auth_p {
    margin: 2rem 0rem;
  }
  .form_group {
    width: 100%;
  }
  .form_input {
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem 0.6rem;
    border: none;
    outline: none;
    border-bottom: 1px solid var(--colo-dark-2);
  }
  .form_pass {
    margin-bottom: 1rem;
  }
  .form_btn {
    width: 100%;
    padding: 1.3rem;
    background-color: var(--colo-primary);
    color: var(--colo-white-1);
    border: none;
    outline: none;
    margin-bottom: 1.5rem;
  }


  .form_link {
    color: var(--colo-white-1);
  }
  .form_group > span,forgot_group {
    margin-top: 2rem;
  }
 .error{
  color: red;
  margin-bottom: 1rem;
 }
  
  .sign-up-text {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: #000000;
    
  }


/*Menu bar */

.menu-wrapper{
  /*the position here was relative*/
  position: absolute;
  font: Arial,Sans-Serif;
}
.menu-list{
padding: 0;
margin: 0;
background: #fff;
width: 240px;
border: 1px solid #ddd;
list-style-type: none;

}
.item{
&:last-child{
  border-bottom: none;
}

}

.item a{
  display: block;
  padding: 15px;
  color: #000;
  text-decoration: none;
  background: #f9f9f9;

&:hover{
  background: #eee;
  color: #666;
}

}


  /* Image Slider css*/

  .slideshow-container {
    width: 70%;
    height: 550px; 
    overflow: hidden;
    margin: 20px auto; 
    position: relative; 
  }
  
  .slide {
    position: absolute; /* All slides stack on top of each other */
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    opacity: 0; /* Start hidden */
    transition: opacity 0.5s ease-in-out;
  }
  
  .slide.active {
    opacity: 1; /* Only the active slide will be visible */
  }
  
  .dots-container {
    text-align: center;
    margin-top: 40px;/* was before 10px*/
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .dot.active {
    background-color: #db4444;
  }

.menucontainer{
flex-direction: row;
align-content: space-between;
/*flex: 1;
align-items: center;*/
  
}



/* product List part*/

.product_list{

  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 60px;
}
.product_list h2{
  margin-bottom: 20px;
  color: #333;
  font-size: 2rem;
}
.product_grid{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}
.product_card{
  background-color: #fff;
  /*border: 1px solid #e0e0e0;*/
  border-radius: 8px;
  padding: 15px;
}
.product_image{
  max-width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
  height: 250px;
  transform: scale(0.9);
  transition: transform 0.2s ease-in-out;
}
.product_image:hover{
  transform: scale(1);
}
.product_info h4{
  font-size: 1.2rem;
  margin: 10px 0 5px;
  color: #333;
}
.product_info p{
  font-size: 1.3rem;
  color: #888;
}
.add-to-cart{
  display: block;
  width: 100%;
  padding: 10px;
  color: #000;
  background-color: #f36970;

  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 1rem;
  margin-top: 10px;
  transition: background-color 0.3s ease-in-out;
}
.add-to-cart:hover{
  border: 1px solid #FFE4E1;
  background: transparent;
}

/*////////////////////////////////////////////////////////////////////////////*/


/* Product Detail Page*/

.product-details{
margin-top: 3%;
  display: flex;
  padding: 80px;
  align-items: center;
  justify-content: center;

}
.detail-left img{
  width: 460px;
  height: 500px;
}
.detail-right{
  padding: 70px;
}
.detail-right h3{
 font-size: 30px;
}
.detail-right .product-price{
  font-size: 22px;
  color:#0a4c80 ;
  margin-top: 10px;
}
.detail-right .desc{
 font-size: 22px;
 color: #000;
 margin-top: 15px;
 
 }
 .detail-right .category{
  font-size: 22px;
  margin-top: 10px;
 }
 .detail-right button{
padding: 1rem 3.6rem;
margin-top: 15px;
border: none;
background-color:#f36970 ;
color: #fff;
 }



/* *Top Categories*/

.top-categ{
  margin-top: 1%;
  margin-bottom: 1%;
display: flex;
flex-direction: row;
justify-content: space-between;
}
.view-all {
  margin-right: 20px;
}

.TopCate {
  position: relative;
  margin-left: 20px;
  margin-bottom: 1%;
}

.TopCate .img img{
object-fit: contain;
width: 100%;
height: 343px;

}
.TopCate img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.TopCate .nametop {
  position: relative;
  width: 95%;
}
.TopCate .nametop span {
  background: #0f3460;
  color: #fff;
  font-size: 12px;
  padding: 5px 7px;
  border-radius: 50px;
  margin: 6px;
 position: absolute;
  top: 10px;
}
.TopCate .nametop .tleft {
  left: 0;
}
.TopCate .nametop .tright {
  background-color: aliceblue;
  color: black;
  position: absolute;
  right: 0;
}



/*///////////////Shopping Cardd ////////////////////*/

/* neww design shopping cartt*/

.cart_container{
  display: flex;
  justify-content: space-between;
  padding: 20px;

}
.cart_left{
  width: 68%;
  background-color: #fff;
  padding: 20px;

 
}
.cart_right{

  width: 32%;
  padding: 20px;
  padding-top: 60px;
  padding-right: 30px;
  box-sizing: border-box;

}


.cart_header{
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font-weight: bold;
  padding: 10px;
  border-bottom: 2px solid #666;
}
.cart_header .delete_cart{
  font-size: 22px;
}
.cart_header span{
  font-size: 20px;
  margin-left: 90px;
}
.cart_right h2{
  font-size: 24px;
  margin-bottom: 20px;
}
.summary_item{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.summary_item.total_cost{
  font-weight: bold;
  font-size: 26px;
}
.checkout_btn{
  width: 100%;
  background-color: #e94560;
  color: #fff;
  padding: 15px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}
.cart_item{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 10px 0;
  border-bottom: 1px solid #e0e0e0;
}
.product_detail{
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50%;
}
.product_detail img{
  width: 95px;
  height: 95px;
  margin-right: 20px;
}
.product_info h3{
  margin: 0;
  font-size: 18px;
}
.product_info p{
  color: #888;
  margin: 5px 0;
}
.quantity{
  display: flex;
  align-items: center;
  
}
.quantity button{
  width: 30px;
  height: 30px;
  background-color: #f0f0f0;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}
.quantity span{
  margin: 0 10px;
}
.price, .total{
  font-size: 18px;
  color: #333;
}

/*///////////No Access Page*/
.no-access-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f8f9fa; 
  margin: 0; 
}

.no-access-message {
  font-size: 24px;
  font-weight: bold;
  color: #333; 
  text-align: center;
  font-family: Arial, sans-serif;
}


/* Checkk out Page///*/
.checkout-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding: 15px;
  gap: 30px; /* Space between the two sections */
  
}

section {
  display: flex;
  width: 100%;
  gap: 30px;

}

.billing-form {
  flex: 1; 
  margin-top: 0.2%;/* Occupies 60% of the space */
}

.checkout-summary {
  flex: 0.75; /* Occupies 40% of the space */

}

.billing-form h1 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #db4444;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

.form-group input {
  width: 70%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.checkout-summary-item {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  margin-top: 3%;
  margin-right: 2%;
}

.checkout-summary-item img {
  width:13%;
  height: auto;
  margin-right: 10px;
}

.details {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

.details p {
  margin: 0;
}

.price {
  font-weight: bold;
}
.summary-totals {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.summary-totals div {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 10px 0;
}

.summary-totals .total-label {
  font-weight: bold;
}
label {
  font-weight: bold;
  
}
.summary-totals .total-price {
  font-weight: bold;
}


.payment-options {
  margin-top: 20px;
}
.radio-class{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.radio-class input{
  margin-right: 2%;
}

.coupon-section {
  margin-top: 20px;
  display: flex;
  align-items: center;


}

.coupon-input {
margin-left: 0.5%;
width: 30%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
  margin-right: 10px;
}

.coupon-button {
  background-color: #db4444;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 3px;
  transition: background-color 0.3s ease;
}

.coupon-button:hover {
  background-color: #c63939;
}

.place-order-button {
  width: 20%;
  background-color: #db4444;
  color: #fff;
  border: none;
  padding: 15px;
  font-size: 16px;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
  align-items: end;
}

.place-order-button:hover {
  background-color: #c63939;
}

@media (max-width: 768px) {
  /* Stack form and summary vertically for smaller screens */
  section {
    flex-direction: column;
  }

  .billing-form,
  .checkout-summary {
    width: 100%;
  }
}


/*.checkout-container{
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
}
.section{
  padding: 50px;
  display: flex;
  justify-content: space-between;
}
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;
    width: 100%;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }

  .form-group input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
  }

  .form-group input[type="checkbox"] + label {
    display: inline;
  }

  .form-actions {
    margin-top: 20px;
  }

  .form-actions button {
    width: 100%;
    background-color: #db4444;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
  }


  .billing-form .checkout-summary{
    display: flex;
    flex-direction: row;
  }
  .checkout-summary {
    width: 40%;
    padding: 20px;
    border-radius: 5px;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
  }

  .checkout-summary h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
  }

  .checkout-summary-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .checkout-summary-item img {
    width: 80px; 
    height: auto;
    margin-right: 15px;
    border-radius: 5px;
  }

  .checkout-summary-item .details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }

  .checkout-summary-item .details p {
    margin: 0;
    font-size: 16px;
  }

  .checkout-summary-item .details .price {
    font-weight: bold;
  }

  .summary-totals {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .summary-totals div {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    margin: 10px 0;
  }

  .summary-totals .total-label {
    font-weight: bold;
  }
  label {
    font-weight: bold;
    
  }
  .summary-totals .total-price {
    font-weight: bold;
  }

  .payment-options {
    margin-top: 20px;
  }

  .payment-options input {
    margin-right: 10px;
  }

  .coupon-section {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .coupon-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    margin-right: 10px;
  }

  .coupon-button {
    background-color: #db4444;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c63939;
    }
  }

  .place-order-button {
  width:50%;
    background-color: #db4444;
    color: white;
    border: none;
    padding: 15px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 20px;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #c63939;
    }
  }/*


/* footer*/

.footer{
  background: #000;
  color: #fff;
  padding-bottom: 3rem;

 
}
.footer_content{
  display: flex;
  justify-content: space-between;
  padding: 30px;
border-bottom: 2px solid #666;

}
.footer_socials .footer_icons{
font-size:22px ;
margin-left: 10px;
}
.copy{
  text-align: center;
padding-left: 15px;
padding-right: 15px;
padding-top: 15px;
padding-bottom: 8px;
}
@media (max-width: 768px) {
  .footer_content {
    flex-direction: column; /* Stack content vertically on smaller screens */
    align-items: center; /* Center-align the items */
  }
}


